= form_for(:session, url: sessions_path, html: { class: "pure-form" } ) do |f|
  %h2 Sign in
  .login-username-fields
    = f.text_field :username, placeholder: "Phone or Email", class: "login-username-input"
  .login-password-fields
    = f.password_field :password, placeholder: "Password", class: "login-password-input"
  = f.submit "Go!", class: "login-submit-button", id: "session_submit"