= simple_fields_for :session, url: sessions_path, class: "pure-form" do |f|
  %h2 Sign in
  .login-name-fields
    = f.input :name, label: false, class: "login-name-input", placeholder: "Phone or Email"
  .login-password-fields
    = f.input :password, label: false, class: "login-password-input", placeholder: "Password"
  = f.button :submit, value: "Go!", class: "login-submit-button"