.pure-g.grid-columns-container
  .pure-u-1-8.side-columns
  .pure-u-3-4.login-box-positioner
    .sign-up-box.sign-up-column
      %h1 Would you like to offer help to #{@seeker.name}?
      = button_to "Confirm", user_exchanges_path, class: "login-submit-button"
  .pure-u-1-8.side-columns
