Welcome to TransHousing, #{@user.name}!

To login to the site, please visit the app: #{@url}. Your username is:

#{@user.login}

Thanks and have a great day!

Best,

The TransHousing Team

(Aiden, Nick, Richard, Shantao, and Stephen)
