<!-- <h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p> -->

<h1>All Users</h1>

<%= form_tag users_path do %>
	<p>
		<%= text_field_tag :search %>
		<%= submit_tag "Search" %>
	</p>
<% end %>