/ temporary Profile page, will make more pretty and interesting later.

= render 'show_temp'


/ %h1
/   = @user.name
/ %ul
/   %li
/     = @user.contact[:email]
/   %li
/     = @user.contact[:phone]
/   %li 
/     = @user.gender[:identity]
/   %li
/     / Todo: move the below into a helper method which returns user type text appropriately
/     - if @user.is_provider
/       Provider
/     - else
/       Seeker