var map;
var infowindow = new google.maps.InfoWindow();

$(document).ready(function() {
	var url = "/location/posts"
	initialize();
       	/*function(){
	    var markerData = <%= raw @hash.to_json %>;
	    updateMarkers(map, markersData);
	    });*/
    });


function initialize() {
    var initialLocation;
    var yale = new google.maps.LatLng(41.31845, -72.92226);
    var browserSupportFlag = new Boolean();
    var map_canvas = document.getElementById('map_canvas');
    var map_options = {
	zoom: 14,	  
	mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(map_canvas, map_options);
    // Try W3C Geolocation 
    // (https://developers.google.com/maps/articles/geolocation)
    if (navigator.geolocation) {
	browserSupportFlag = true;
	navigator.geolocation.getCurrentPosition(function(position) {
		initialLocation = new google.maps.LatLng(position.coords.
							 latitude, position.
							 coords.longitude);
		map.setCenter(initialLocation);
		// We want to put a marker on our location
		var myLatLng = new google.maps.LatLng(initialLocation.lat(), 
						      initialLocation.lng());
		var marker = new google.maps.Marker ({
			position:myLatLng,
			map: map,	
		});
		queryNearbyUsers(initialLocation.lat(), 
			initialLocation.lng(), map);
	    },function (){
		handleNoGeolocation(browerSupportFlag);
	    });
    }
    else {
	browserSupportFlag = false;
	handleNoGeolocation(browserSupportFlag);
    }
}


function handleNoGeolocation(errorFlag) {
    if (errorFlag == true) {
	alert("Geolocation service failed...");
    } 
    initialLocation = yale;
    map.setCenter(initialLocation)
}

function queryNearbyUsers(lat, lng, map) {
    var url = "/location/posts";
    var loc = { loc: [lat, lng]};
        $.ajax({
		type: "POST",
		url: url,
		data: loc,
		dataType: 'json',
		success: function(data) {
		    $.each(data, function(k,userInfo) {
				console.debug(userInfo)
				addMarkers(map, userInfo)
			});
		},
		error: function() {
		    console.error("Ajax error!")
			}
	    });
	}

function addMarkers(map, usr) {
    // console.log(p)
	if (usr.is_provider) {
	    var image = {
		size: new google.maps.Size(32, 32),
		url: "<%= asset_path 'house_opt.png' %>",
		// icon: '/images/house.png',
		origin: new google.maps.Point(0, 0),
		anchor: new google.maps.Point(12,12)
                };
        }
    
	else {
	    var image = {
		url: "<%= asset_path 'people_opt.png' %>",
		size: new google.maps.Size(32, 45),
		origin: new google.maps.Point(0, 0),
		anchor: new google.maps.Point(12,12)
                };    
        }
    var shape = {
	coords: [1, 1, 1, 20, 18, 18, 1], 
	type: 'poly'
    };


	var foodIcon="";
	var buddyIcon="";
	var housingIcon="";
	var transportationIcon="";
	var miscIcon="";
	var laundryIcon="";
	var showerIcon="";

	if (usr.food_resource) {
		foodIcon = '<i class="fa fa-cutlery fa-lg"></i>'
	}
	if (usr.buddy_resource) {
		buddyIcon = '<i class="fa fa-users fa-lg"></i>'
	}
    if (usr.housing_resource) {
		housingIcon = '<i class="fa fa-bed fa-lg"></i>'
	}
    if (usr.transportation_resource){
		transportationIcon = '<i class="fa fa-car fa-lg"></i>'
	}
	if (usr.misc_resource) {
		miscIcon = '<i class="fa fa-plus fa-lg"></i>'
	}
	if (usr.laundry_resource) {
		laundryIcon = '<i class="fa fa-tags fa-lg"></i>'
	}
	if (usr.shower_resource) {
		showerIcon = '<i class="fa fa-street-view fa-lg"></i>'
	}

	var averageRating = usr.average_rating;
	var counter = 0;
	var rating = "&nbsp&nbsp"

	while (averageRating > 0.67) {
		rating += '<i class="fa fa-star" fa-lg></i>'
		counter++;
		averageRating--;
	}
	if (averageRating > 0.33) {
		rating += '<i class="fa fa-star-half-o" fa-lg></i>'
		counter++;
	}
    while (counter< 5) {
		rating += '<i class="fa fa-star-o" fa-lg></i>'
		counter++;
	}
	
	// Grabing the number of reviews
	rating += '<div id="bodyContent"><p>' + usr.number_reviews + 
		" Reviews" + '<br><br></div>'
	var contentString = '<div id="content">'+ 
	'<div id="siteNotice">'+
	'</div>'+
	'<h1 id="firstHeading" class="firstHeading">' + '<a href="http://localhost:3000/users/' + usr._id.$oid + '">' + 
	usr.name + '</h1>'+
	'<div id="bodyContent"><p>' + usr.gender.identity + '<br><b>' + usr.location.city + 
	'</b></div>'+'</div>' + "</div>" + housingIcon + foodIcon + 
	transportationIcon + laundryIcon + showerIcon + buddyIcon + rating+ "</div>";
    

    //      var infowindow = new google.maps.InfoWindow({
    //            content: contentString
    //        });
    
    var myLatLng = new google.maps.LatLng(usr.location.c[0], usr.location.c[1]);
	console.debug(myLatLng);
    var marker = new google.maps.Marker({
	    position: myLatLng,
	    icon: image,
	    map: map,
	    // title: usr.name,
	    //      shape: shape
	    // zIndex: parseInt(p[5])
	});
    google.maps.event.addListener(marker, 'click', function() {
	    infowindow.close();
	    infowindow.setContent(contentString);
	    infowindow.open(map,marker);
        });

	/*google.maps.event.addListener(map, 'center_changed', function(){
		var newCenter = map.getCenter();
		console.debug(newCenter);
		queryNearbyUsers(newCenter.lat(), newCenter.lng());
	});*/
}
google.maps.event.addListener(window, 'click', function() {
	infowindow.close();
    });
//   google.maps.event.addDomListener(window, 'load', initialize);
