// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map_canvas {
   width: 300px; 
   height: 200px;
}

