@import "bootstrap-sprockets"
@import "bootstrap"

$trans-pink:          pink
$trans-blue:          #6FBEF3
$trans-purple:        #BF55EC

$error-red:           #E74C3C

@mixin bg-and-text-color($bg,$text)
  color:              $text
  background-color:   $bg
  border-color:       $bg
  border-style:       solid
  border-width:       1px

@mixin btn-hover-invert($default-bg-color, $default-text-color)
  @include            bg-and-text-color($default-bg-color,$default-text-color)
  &:hover
    @include          bg-and-text-color($default-text-color,$default-bg-color)

@mixin placeholder 
  &::-webkit-input-placeholder 
    @content
  &:-moz-placeholder  /* Firefox 18- */
    @content
  &::-moz-placeholder   /* Firefox 19+ */
    @content
  &:-ms-input-placeholder 
    @content

li.pure-menu-item
  margin:             0px 3px

.logo-homepage#logo
  font-size:          300%
#logo
  text-decoration:    none
#logo-housing
  color:              $trans-blue
#logo-trans
  color:              $trans-pink

h2
  font-size:          1.5em

.btn
  &:active
    box-shadow:       none

.btn-header
  @include transition(all 0.2s ease-in-out)
  color:              white
  text-transform:     uppercase
  font-weight:        bold
  margin:             8px 5px

.btn-lg-header
  padding:            10px 20px
  font-size:          20px
  line-height:        1.33
  margin:             12px 5px

#sign-up-button.btn-sign-up
  @include            btn-hover-invert($trans-blue,white)

#sign-in-button.btn-sign-in,#sign-out-button.btn-sign-out
  @include            btn-hover-invert($trans-pink,white)

a#header-username
  text-decoration:    none

a#header-username,h1#user-name
  &.header-username-male
    color:            $trans-blue
  &.header-username-female
    color:            $trans-pink
  &.header-username-nb
    color:            $trans-purple

i.settings-icon
  vertical-align:      middle
  text-align:          center
  &:hover
    color:             $trans-blue
    -webkit-animation: spin 3.1s infinite linear
    -moz-animation:    spin 3.1s infinite linear
    -o-animation:      spin 3.1s infinite linear
    animation:         spin 3.1s infinite linear

#frontpage-map
  background-image:   url("map_placeholder.gif")
  height:             400vh

.spin-fix .settings-icon
  -webkit-transform-origin:  50% calc(50% - .5px)
  transform-origin:          50% calc(50% - .5px)

  
body
  font-family:        'Source Sans Pro', sans-serif

input:-webkit-autofill
  -webkit-box-shadow: 0 0 0px 1000px white inset !important
  &:focus
    -webkit-box-shadow: 0 0 0px 1000px white inset !important

.radio-container
  padding:            1em

.radio-container input[type=radio]
  &[id*=false],&[id*=true]
    margin:           .2em

select
  height:             2.5em
  border:             1px solid #ccc
  background-color:   #fff
  border-radius:      4px
  vertical-align:     middle
  padding:            .5em .6em

.notice-container
  padding:            15px
  text-align:         center
  font-family:        "Source Sans Pro", sans-serif

.notice-error-container
  @extend             .notice-container
  color:              white
  font-weight:        bolder
  background-color:   $error-red

span.notice-text
  height:             100%
  vertical-align:     super
  display:            inline-block
  padding:            0px 15px


// User Profile SASS
.grid-columns-container,.user-profile-column,.sign-up-column,.gen-column
  height:             100%
  font-family:        'Source Sans Pro', sans-serif

.user-profile-column,.account-settings-column
  background-color:   white
  padding:            20px
  overflow:           auto

.user-rating,.user-name
  float: left

.user-name
  margin: .67em 0.67em 0

.user-status
  clear: both

.user-resources
  float: left
  clear: both

#request-help-button
  float: right

//Sign up

form 
  @include transition(all 1s ease-in-out)

.sign-up-column,.login-box
  text-align:         center
  overflow:           auto
  & input[type]
    margin: 15px 0px
    text-align:       center
    font-size:        25px
    // height:           100%
    line-height:      100%
    @include placeholder
      color:            #ccc
      font-style: italic
      text-align:       center
      font-size:        16px

span.input-error
  font-style:           italic
  color:                $error-red
  & i
    margin:             5px

.wizard-page
  display:              none
  &.wizard-current
    display:            block
    overflow:           auto

.wizard-forward,.message-reply-button
  float:              right
  @extend             .btn 
  @extend             .btn-header 
  @extend             .btn-sign-up
  @include            btn-hover-invert($trans-blue,white)

#submit_signup
  @extend             .wizard-forward 
  
.wizard-back
  float:              left
  @extend             .btn 
  @extend             .btn-header 
  @extend             .btn-sign-up
  @include            btn-hover-invert($trans-pink,white)

div fieldset
  border:             none

.mapcontainer
  height:             500px

#user_gender_attributes_identity,#nonbinary_trans_genders,
#binary_trans_genders
  display: none

// Sessions SASS. Until I completely re-do the application.css.sass
// organization as recommended elsewhere (a to-do item), things must
// be put here if I wish to use existing mixins. 
@mixin login-field-label($bg-color,$text-color)
  @include            bg-and-text-color($bg-color,$text-color)
  cursor:             default
  text-transform:     uppercase
  display:            block
  font-size:          150%
  font-weight:        normal
  line-height:        1.43
  text-align:         center
  vertical-align:     middle
  padding:            6px 12px
  margin:             0px
  &:hover
    @include          bg-and-text-color($bg-color,$text-color)

@mixin login-field-input($border-color)
  color:              $border-color
  border-color:       $border-color
  border-style:       dashed
  width:              100%
  font-size:          100%
  padding:            6px 12px
  outline:            none
  text-align:         center

.login-column
  height: 100%

.login-username-label
  @include            login-field-label(white,$trans-blue)

.login-username-input
  @include            login-field-input($trans-blue)

.login-password-label
  @include            login-field-label(white,$trans-pink)

.login-password-input
  @include            login-field-input($trans-pink)

.login-submit-button
  @extend             .btn
  @extend             .btn-header
  @include            btn-hover-invert($trans-pink, white)
  font-size:          17px
  padding:            10px
  width:              100%

.pure-form input[type].login-submit-button
  @extend             .login-submit-button
  margin:             0
  margin-top:         10px




.login-box,.sign-up-box,.account-settings-box,.page-content-box
  background-color:   white
  padding:            15px
  border-radius:      10px
  text-align:         center
  font-family:        'Source Sans Pro', sans-serif


.login-box-positioner
  position:           relative
  top:                5%
  border-radius:      6px


.map-bg
//  background-image:   url("map_placeholder.gif")

html,body
  height:             100%
  overflow-x: hidden

// Messages

#inbox-return-link
  float: left
  display: block

#message-subject,#message-reply-header
  clear: both
  margin-bottom: 5px

.message-body 
  padding: 15px 30px
  text-align: left
  color: black
  background-color: #f8f9f9
  clear: both

.message-sender
  float: right
  font-style: italic

#message-reply
  width: 70%
  margin: 30px
