@import "bootstrap-sprockets"
@import "bootstrap"

#header-logo
  font-size: 2em

.navbar
  margin-bottom: 0px

#frontpage-map
  background-image: url("map_placeholder.gif")
  height: 70vh
  
body
  font-family: 'Source Sans Pro', sans-serif